<%- include("header")-%>

<h2>About Us</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore, culpa dolorem repudiandae odit unde quibusdam iusto? Ab, repudiandae corporis maxime iure, aut eligendi asperiores officiis unde soluta autem, deleniti quisquam.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis minus blanditiis molestias error, non qui quaerat neque necessitatibus accusantium possimus asperiores inventore, facere dicta cumque. Eum, amet. Impedit, placeat quae.
</p>

<%- include("footer")-%>
